@font-face {
	font-family: "FuturaStd-Medium";
	src: url("../fonts/FuturaStd Medium.otf");
}

@font-face {
	font-family: "FuturaStd-Book";
	src: url("../fonts/FuturaStd Book.otf");
}

@font-face {
	font-family: "Extras";
	src: url("../fonts/NexaRust Extras.otf");
}